{% extends 'base_layout.html' %}

{% load static %}
{% load widget_tweaks %}


{% block content %}

<div class="p-3 mt-5 bg-opacity-10 border border-secondary border-start-1 rounded site-form">
    <h1 class="font-weight-bold text-center mt-3">Login</h1>
    <form method="POST" action="{% url 'accounts:login' %}">
        {% csrf_token %}

        {% include 'form.html' with form=form %}

        {% if request.GET.next %}
            <input type="hidden" name="next" value="{{ request.GET.next }}">
        {% endif %}
        <!-- submit button -->
        <div style="margin:auto; width: 60px;">
            <input class="btn btn-success" type="submit" value="Login">
        </div>
    </form>
</div>
{% endblock %}
