{% extends 'base_layout.html' %}
{% load static %}
{% block content %}

<h1 class="font-weight-bold text-center mt-3">Sign Up</h1>
<form method="POST" action="/accounts/register/" id="signup">
    {% csrf_token %}
    {% for error in form.non_field_errors %}
        <div class="alert alert-danger">{{ error }}</div>
    {% endfor %}
    {% for field in form.visible_fields %}
        <div class="form-group has-validation">
            <label for="{{ field.name }}">{{ field.label }}</label>
            {% if field.errors %}
                <div class="invalid-feedback">{{ field.errors.as_text }}</div>
            {% endif %}
            {{ field }}
        </div>
    {% endfor %}

    <input type="submit" value="register">
</form>

<!-- <script src="{% static 'ajax.js' %}"></script> -->


{% endblock %}