{% extends 'base_layout.html' %}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About us</title>
</head>
<body>
    {% block content %}
    <!-- about us page centerd in the middle -->
    <div class="container p-5">
        <div class="row">
            <div class="col-md-12">
                <div class="jumbotron">
                    <h1 class="display-4">About us</h1>
                    <p class="lead">we aim to teach everyone </p>
                    <hr class="my-4">
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quasi, dicta nam et unde, atque repellendus esse vero ex iure quos consequatur quidem. Aliquid tempora reiciendis expedita accusamus illo magnam nihil!</p>
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Optio quis facilis incidunt libero at facere nulla qui dolore quos quae nemo vel, fuga delectus sit deleniti aliquam. Mollitia, porro tempora?</p>
                </div>
            </div>
        </div>
    </div>
    {% endblock %}
</body>
</html>